body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
}
.form {
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  width: fit-content;
}
input {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  display: block;
}
label {
  font-size: 18px;
  color: rgb(0, 229, 255);
  font-family: sans-serif;
  margin: 20px 0 6px;
  display: inline-block;
}
button {
  border: none;
  padding: 8px 15px;
  background-color: green;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
p {
  color: red;
}
.password {
  position: relative;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}
